.musicPlayWrap {
	position: absolute;
	top: 0.6rem;
	right: 0.6rem;
	z-index: 200;
	width: 1rem;
	height: 1rem;
	background-image: url(../../resources/music.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

.pageProgress {
	position: absolute;
	width: 100%;
	height: 0.1rem;
	bottom: 0rem;
	background: none;
}

.pageProgress .layui-progress-bar {
	height: 0.1rem;
	border-radius: 0rem;
	background-color: rgb(221, 134, 207);
}

.pre-wrap-bottom {
	position: absolute;
	bottom: 1rem;
	left: calc(50% - 11px);
	z-index: 150;
	width: 22px;
	height: 14px;
	-webkit-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
}

.pre-wrap-bottom .pre-box1, .pre-wrap-bottom .pre-box2 {
	height: 15px;
	width: 14px;
	position: absolute;
	overflow: hidden;
}

.pre-wrap-bottom .pre-box2 {
	left: 8px;
}

.pre-wrap-bottom .pre-box1 .pre1, .pre-wrap-bottom .pre-box2 .pre2 {
	background-color: #fff;
    width: 14px;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    box-shadow: 1px -1px 1px #646464;
    top: 5px;
}

.pre-wrap-bottom .pre-box1 .pre1 {
	transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    left: 1px;
}

.pre-wrap-bottom .pre-box2 .pre2 {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.pageItemWrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.pageItemWrap li.pageItem {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-size: cover;
	background-position: 50% 50%;
	background-origin: content-box;
}

/****************************************** 活动页H5样式开始 ******************************************/

_ACTIVE_PAGE_MAIN_CSS_